.app-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: #1F0351;
}

.app-header__title {
  color: rgb(16, 110, 44);
  font-size: 25px;
  transition: color 200ms
}

.app-header__title:hover {
  color: #008238
}
